<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">
                        相册列表
                        <ol class="am-breadcrumb" style="float: right">
                            <li><a href="#" class="am-icon-home">首页</a></li>
                            <foreach name="npc" item="vo" >
                                <li><a href="<{$vo.url}>"><{$vo.name}></a></li>
                            </foreach>
                        </ol>
                    </div>
                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href='/Album/info?ac=add' class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增相册</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" class="am-form-field j-keyword" value="<{$keyword}>">
                            <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search j-search" type="button" ></button>
                        </span>
                        </div>
                    </div>

                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                            <tr class="am-text-nowrap">
                                <th>相册id</th>
                                <th>Banner</th>
                                <th>启动图</th>
                                <th>标题</th>
                                <th>介绍</th>
                                <th>浏览数</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name='lists' item='i'>
                                <tr class="gradeX">
                                    <td class="am-text-middle" style="max-width: 200px;"><{$i.id}></td>
                                    <td>
                                        <img src="<{$savePicUrl}><{$i.album_banner}>" class="tpl-table-line-img" alt="">
                                    </td>
                                    <td>
                                        <img src="<{$savePicUrl}><{$i.album_index}>" class="tpl-table-line-img" alt="" style="width: 37px;height: 65.66px;">
                                    </td>
                                    <td class="am-text-middle" style="max-width: 200px;"><{$i.album_name}></td>
                                    <td class="am-text-middle" style="max-width: 200px;"><{$i.album_des}></td>
                                    <td class="am-text-middle"><{$i.album_pv}></td>
                                    <td class="am-text-middle"><{$i.create_time}></td>
                                    <td class="am-text-middle am-text-nowrap">
                                        <div class="tpl-table-black-operation">
                                            <a href="/Album/detail?album_id=<{$i.id}>">详情</a>
                                            <a href="/Album/info?ac=edit&id=<{$i.id}>">编辑</a>
                                            <a href="/Album/upload?id=<{$i.id}>">上传</a>
                                            <a href="/Reward?album_id=<{$i.id}>">打赏记录</a>
                                            <a href="javascript:void(0);"  onclick="deleteAlbum()">删除</a>
                                        </div>
                                    </td>
                                </tr>
                            </foreach>
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <{$page}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(".j-search").click(function(){
        var keyword = $('.j-keyword').val();
        window.location.href = '/Album?keyword=' + keyword;
    });

    function deleteAlbum () {
        if(confirm('确定要删除吗?'))
        {
            window.location.href = "/Album?ac=del&id=<{$i.id}>";
            return true;
        }
        return false;

    }
</script>