##IDE support
*.buildpath
*.project
.DS_Store
/.settings
/.idea
/public/image/*
/admin/Runtime/Cache/Home/*
/admin/Runtime/Logs/Home/*
/admin/Runtime/Logs/Common/*
/api/Runtime/Cache/Home/*
/api/Runtime/Logs/Home/*
/api/Runtime/Logs/Common/*
/.svn