<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">
                        编辑用户:<{$user.name}>
                        <ol class="am-breadcrumb" style="float: right">
                            <li><a href="#" class="am-icon-home">首页</a></li>
                            <foreach name="npc" item="vo" >
                                <li><a href="<{$vo.url}>"><{$vo.name}></a></li>
                            </foreach>
                        </ol>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-border-form tpl-form-border-br" action='' method="post">
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">昵称</label>
                            <div class="am-u-sm-9">
                                <input type="text" placeholder="输入用户昵称" name="name"  value="<{$user.name}>">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">旧密码</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="am-form-field" placeholder="输入旧密码" name="old_pwd"  value="">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">新密码</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="am-form-field" placeholder="输入新密码" name="login_pwd"  value="">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success " value="提交" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>